@media print{
    h2, h4, h3, .list-group-item, p, textarea, hr, .btn-info{
        display:none;
        visibility: hidden;
    }
    
    .col-md-3{
        width:25%;
    }
    
    h5{
        display:inline;
        visibility:visible;
    }
    
    #unscheduled-container li{
        display:inline-block;
        padding:5px 5px 0 0;
    }

    #unscheduled-container, #calendar-container{
        width:100%;
    }
    ul.unscheduledList li::after{
        content: ', '
    }
    .indent-div{
        margin-left:20px;
    }
}