body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.space-right {
  margin-right: 10px;
}

.list-group-item[status="notscheduled"] {
    background-color:none;
}

.list-group-item[status="scheduled"] {
    background-color:#FF6;
}

.list-group-item[status="done"] {
    background-color: lightgreen;
}

h4 {
    padding: 10px;
}

.cal-box {
    border: 1px solid black;
    min-height: 150px;
    padding: 0px;
}

.cal-box h4 {
    margin: 0px;
    color: rgb(148, 148, 148);
}

.class-entry.bg-success {
  background-color: rgb(140, 255, 92);
}

.class-entry.bg-warning {
  background-color: rgb(222, 201, 91);
}
