body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.btn-info, .btn-danger {
    float: right;
    margin: 10px;
}

.space-right {
    margin-right: 10px;
}

.list-group-item[status="scheduled"] {
    background-color: #FF6;
}

.list-group-item[status="done"] {
    background-color: lightgreen;
}
.list-group-item{
    overflow:hidden;
}

h4 {
    padding: 10px;
}

.cal-box {
    border: 1px solid black;
    min-height: 150px;
    padding: 0px;
}

.cal-box h4 {
    margin: 0px;
    color: rgb(148, 148, 148);
}

.bg-success {
    background-color: lightgreen;
}

.bg-warning {
    background-color: #FF6;
}

.bg-danger {
    background-color: #F66;
}

.cal-entry {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.unscheduledList {
    background-color: none !important;
}

td {
    border: 2px solid #ddd;
}

th {
    color: #555;
}

#classInput {
    width: 100%;
    margin-bottom: 10px;
}
