body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.space-right {
  margin-right: 10px;
}

.list-group-item[status="notscheduled"] {
    background-color: red;
}

.list-group-item[status="scheduled"] {
    background-color: yellow;
}

.list-group-item[status="done"] {
    background-color: green;
}
